<form (ngSubmit)="onSubmit()" #productForm="ngForm">

  <div>
    <input
    class="form-control my-2"
    type="text"
    placeholder="Name"
    name="name"
    [(ngModel)]="product.name"
    #name="ngModel"
    required
    minlength="5"
>
  </div>

  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

    @if (name.errors!['required']) {
      <div>
        El nombre es requerido.
      </div>
    }

    @if(name.errors!['minlength']){
      <div>
        El nombre debe tener al menos 5 caracteres.
      </div>
    }
  </div>

  <div>
    <input
    class="form-control my-2"
    type="text"
    placeholder="Description"
    name="description"
    [(ngModel)]="product.description"
    #description="ngModel"
    required>
  </div>
  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">

    <div>
      La descripción es requerida.
    </div>

  </div>

  <div>
    <input
    class="form-control my-2"
    type="number"
    placeholder="Price"
    name="price"
    [(ngModel)]="product.price"
    #price="ngModel"
    required
    min="5">

  </div>

  <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">

    @if (price.errors!['required']) {
      <div>
        El precio es requerido.
      </div>
}

    @if (price.errors!['min']){
      <div>
        El precio debe ser mayor a 5.
      </div>

    }
  </div>

  <div>
    <button
    [disabled]="!productForm.valid"
    type="submit" class="btn btn-primary my-2 "> {{product.id > 0? 'Update' : 'Create'}}</button>
    <button class="btn btn-success my-2 mx-2" (click)="clean()" type="button"> Clean</button>
  </div>

</form>
