<form (ngSubmit)="onSubmit()">

  <div>
    <input
    class="form-control my-2"
    type="text"
    placeholder="Name"
    name="name"
    [(ngModel)]="product.name"
    #name="ngModel"
    required>
  </div>

  <div *ngIf="name.invalid && (name.dirty || name.touched)">

    <div>
      El nombre es requerido.
    </div>

  </div>

  <div>
    <input
    class="form-control my-2"
    type="text"
    placeholder="Description"
    name="description"
    [(ngModel)]="product.description"
    #description="ngModel"
    required>
  </div>
  <div *ngIf="description.invalid && (description.dirty || description.touched)">

    <div>
      La descripción es requerida.
    </div>

  </div>

  <div>
    <input
    class="form-control my-2"
    type="number"
    placeholder="Price"
    name="price"
    [(ngModel)]="product.price"
    #price="ngModel"
    required>

  </div>

  <div *ngIf="price.invalid && (price.dirty || price.touched)">

    <div>
      El precio es requerido.
    </div>

  </div>

  <div>
    <button type="submit" class="btn btn-primary my-2 "> {{product.id > 0? 'Update' : 'Create'}}</button>
    <button class="btn btn-success my-2 mx-2" (click)="clean()" type="button"> Clean</button>
  </div>

</form>
