<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}">Titulo</h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}">A</li>
        <li th:if="${user.email == null}" th:text="${'No tiene mail'}">A</li>
    </ul>
<a th:href="@{/list}">Ver Listado</a>
<a th:href="@{/api/params/foo?message=' + ${title}}">Ver Mensaje</a>
<a th:href="@{/api/params/foo?message=HolaQueTalFestival}">Ver Mensaje2</a>
<a th:href="@{/api/params/foo(message='Hola festi')}">Ver Mensaje3</a>
<a th:href="@{/api/params/bar(text='Hola festi', code=3232)}">Ver Mensaje4</a>


    
  <!--  <table th:if="${not users.isEmpty()}">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <td th:if="${user.email == null}" th:text="'N/A'"></td>
            </tr>
        </tbody>
    </table>-->
</body>
</html>